.animes-page {
	padding: 0 2rem;
	margin-bottom: 1.5rem;
}

.animes-heading {
	padding: 0.5rem 0;
	font-weight: bolder;
	text-transform: capitalize;
}

.animes-rows {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}