.sidebar {
     height: 100vh;
     width: 5rem;
     padding: 0 0.5rem;
     border-right: 0.1rem solid #303143;
     display: flex;
     flex-direction: column;
     align-items: center;
     position: sticky;
     top: 0;
     z-index: 999;
}

.light .sidebar {
     border-right: 0.1rem solid #E1E1E5;
}

a {
     text-decoration: none;
}

svg {
     -webkit-transition: .25s all;
     -moz-transition: .25s all;
     -ms-transition: .25s all;
     -o-transition: .25s all;
     transition: .25s all;

     fill: white;
     cursor: pointer;
     padding: 0.75rem;
     margin: 0.5rem;
     background: #2D2F3E;
     border-radius: 0.5rem;
}

.light svg {
     background: white;
     fill: #2D2F3E;
     box-shadow: 0 0 1rem 0.1rem rgba(0, 0, 0, 0.1);
}

.light svg:hover {
     fill: white;
     background: #2D2F3E;
}

svg:hover {
     -webkit-transition: .25s all;
     -moz-transition: .25s all;
     -ms-transition: .25s all;
     -o-transition: .25s all;
     transition: .25s all;

     fill: #2D2F3E;
     background: white;
}

.sidebar-top {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 0 0 auto 0;
     padding: 1rem 0;
     border-bottom: 0.1rem solid #303143;
}

.light .sidebar-top {
     border-bottom: 0.1rem solid #E1E1E5;
}

.toggle-icon {
     margin-bottom: 1rem;
     background: none;
}

.light .toggle-icon {
     box-shadow: none;
}

.light .toggle-icon:hover {
     background: white;
     fill: #2D2F3E;
}

.toggle-icon:hover {
     background: none;
     fill: white;
}

.sidebar-middle {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-start;
     height: 100%;
     padding: 1rem 0;
}

.sidebar-bottom {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-end;
     padding: 1rem 0;
     border-top: 0.1rem solid #303143;
}

.light .sidebar-bottom {
     border-top: 0.1rem solid #E1E1E5;
}