.popular-page {
	padding: 0 2rem;
	margin-bottom: 1.5rem;
}

.popular-heading {
	padding: 0.5rem 0;
	font-weight: bolder;
}

.popular-rows {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}