@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;400;600&display=swap');

.popular-card {
	-webkit-transition: .25s all;
	-moz-transition: .25s all;
	-ms-transition: .25s all;
	-o-transition: .25s all;
	transition: .25s all;

	text-decoration: none;
	font-family: 'Noto Sans', sans-serif;
	background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.25));
	color: #fff;
	width: 175px;
	height: 275px;
	margin: 12.5px;
	padding: 12.5px;
	border: 1px solid rgba(255, 255, 255, 0.25);
	border-radius: 0 0 25px 0;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
}

.popular-card:hover {
	cursor: pointer;
	padding: 15px;
	margin: 10px;
	background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.15));
	border: 1px solid rgba(255, 255, 255, 0.5);
	box-shadow: 0 0 25px rgba(255, 255, 255, 0.25);
	backdrop-filter: blur(10px);
}

.popular-poster {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 175px;
	height: 200px;
	margin-bottom: 2px;
}

.popular-poster img {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	object-fit: cover;
}

.popular-title {
	display: flex;
	align-items: center;
	height: 50px;
	font-weight: bolder;
	margin-bottom: 2px;
}

.popular-release {
	display: flex;
	flex-direction: row;
	margin-top: 5px;
}

.popular-year {
	margin-left: 0;
	opacity: 75%;
}

/* .popular-episodes{
	margin-left: auto;
	margin-right: 0;
	font-weight: bolder;
	opacity: 40%;
} */