@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;400;600&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	background: #151728;
	color: #F0F0F0;
	font-family: 'Noto Sans', sans-serif;
}

.light {
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	-ms-transition: .5s all;
	-o-transition: .5s all;
	transition: .5s all;

	background: white;
	color: #2F2F33;
}

.App {
	display: flex;
}

.App-Display {
	width: 100%;
}

html::-webkit-scrollbar {
	width: 0.25rem;
}

html::-webkit-scrollbar-track {
	background: transparent;
}

html::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.5);
	border-radius: 0.1rem;
}

html::-webkit-scrollbar-thumb:hover {
	background: rgba(255, 255, 255, 0.75);
	border-radius: 0.1rem;
}

html::-webkit-scrollbar-thumb:active {
	background: rgba(255, 255, 255, 1);
	border-radius: 0.1rem;
}