.search-page {
     padding: 0 2rem;
     margin-bottom: 1.5rem;
}

.search-box {
     width: 33%;
     padding: 0 1rem;
     background: #2D2F3E;
     border-radius: 0.5rem;
     position: sticky;
     top: 1rem;
     z-index: 999;
}

.search-bar {
     width: 100%;
     outline: 0;
     border: 0;
     padding: 0.75rem 0;
     background: transparent;
     font-size: 1rem;
     color: rgba(255, 255, 255, 0.75);
}

.search-heading {
     padding: 1rem 0;
     font-weight: bolder;
}

.search-rows {
     display: flex;
     flex-wrap: wrap;
}

.search-card {
     text-decoration: none;
     color: #fff;
     width: 12.5rem;
     margin: 1.25rem 0.25rem;
     box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
     backdrop-filter: blur(5px);
}

.search-card:hover {
     cursor: pointer;
}

.search-poster {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 12.5rem;
     height: 17.5rem;
}

.search-poster img {
     -webkit-transition: .25s all;
     -moz-transition: .25s all;
     -ms-transition: .25s all;
     -o-transition: .25s all;
     transition: .25s all;

     width: 90%;
     height: 90%;
     border-radius: 0.25rem;
     object-fit: cover;
}

.search-poster img:hover {
     -webkit-transition: .25s all;
     -moz-transition: .25s all;
     -ms-transition: .25s all;
     -o-transition: .25s all;
     transition: .25s all;

     width: 100%;
     height: 100%;
     background-color: black;
     opacity: 0.5;
}

.search-info {
     padding: 0 0.5rem;
}

.search-title {
     font-weight: bolder;
}

.search-year {
     opacity: 50%;
}